@charset "UTF-8";
.navbar::after, .header::after, .section-skills::after {
  content: "";
  display: table;
  clear: both; }

.header, .section-skills, .section-portfolio, .section-team, .section-testimonials, .section-clients, .footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; }

* {
  box-sizing: border-box; }

.text-big {
  margin: 0 0 1rem; }

.heading {
  margin: 0 0 1.75rem; }

.text--narrow {
  width: 80%; }
  @media screen and (min-width: 768px) {
    .text--narrow {
      width: 50%; } }

.text--wide {
  width: 80%; }

.section-portfolio, .section-team, .section-testimonials, .section-clients {
  padding: 4rem 1.5rem; }
  @media screen and (min-width: 992px) {
    .section-portfolio, .section-team, .section-testimonials, .section-clients {
      padding: 6.25rem 17.5%; } }

.header__text, .section-portfolio__text, .section-clients__text, .footer__text {
  margin: 0 auto 3.5rem; }

.person-name {
  margin: 0; }

.person-profession {
  margin: 0.5rem 0 0; }

.header, .section-portfolio, .section-testimonials, .footer, .text-link {
  color: #fff; }

.section-skills, .section-team, .section-clients {
  color: #000; }

.button {
  color: #fff;
  border-color: #fff;
  background-color: transparent; }
  .button::before {
    background-color: #eeb501; }
  .button:hover, .button:focus {
    outline: 0;
    border-color: #eeb501; }

.text-link {
  outline: none; }
  .text-link:hover, .text-link:focus {
    color: #eeb501; }

.tilde--emphasis {
  color: #eeb501; }

.person-name--emphasis {
  color: #eeb501; }

.navbar {
  background-color: transparent;
  transition: background-color 0.5s; }
  .navbar__button {
    background-color: transparent;
    border: transparent;
    color: #fff; }
  .navbar__search-bar {
    outline: none;
    border: 0; }
  .navbar--scrolling {
    background-color: rgba(0, 39, 255, 0.7); }

.menu {
  background-color: #000;
  opacity: 0; }
  @media screen and (min-width: 992px) {
    .menu {
      background-color: transparent; } }
  .menu--visible {
    opacity: 0.95;
    transition: all 0.25s; }
  .menu__anchor {
    color: #fff; }

.header__heading--emphasis {
  color: #eeb501; }

.section-skills__heading--emphasis, .section-skills__icon {
  color: #fff;
  background-color: #eeb501; }

.section-clients__item {
  border-color: #a3a3a3; }

.footer__icon-link:hover .footer__icon, .footer__icon-link:focus .footer__icon {
  color: #eeb501;
  background-color: #fff;
  transition: 0.3s; }

.footer__icon {
  background-color: #eeb501; }

.form__field {
  color: #fff;
  background-color: #2e2e2e;
  border: transparent; }

html {
  font-size: 75%; }
  @media screen and (min-width: 768px) {
    html {
      font-size: 100%; } }
  @media screen and (min-width: 992px) {
    html {
      font-size: 75%; } }
  @media screen and (min-width: 1920px) {
    html {
      font-size: 100%; } }

html, .form__field, button, .navbar__search-bar {
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif; }

.button, .box__heading, .form__heading {
  font-weight: 700; }

.menu, .header__heading, .section-skills__heading, .heading {
  font-weight: 800; }

.text-big {
  font-style: italic; }

.text {
  font-size: 1.25rem; }

.text-big {
  font-size: 1.8125rem; }

.heading {
  font-size: 2.6875rem; }

.tilde {
  line-height: 0.1; }

.button {
  font-size: 1.375rem;
  text-transform: uppercase;
  text-decoration: none; }

.section-portfolio, .section-team, .section-testimonials, .section-clients, .footer {
  text-align: center; }

.person-name {
  font-size: 1.8125rem;
  font-weight: 800; }

.person-profession {
  font-size: 1.375rem; }

.text-link {
  text-decoration: none; }

.navbar {
  text-align: right;
  line-height: 6.125rem; }
  .navbar__search-form {
    line-height: initial; }
  .navbar__search-bar {
    font-size: 1.5rem;
    line-height: 1.875rem; }
  .navbar__icon {
    font-size: 1.875rem; }

.menu {
  font-size: 1.25rem;
  letter-spacing: 0.05rem;
  text-align: center;
  line-height: normal;
  list-style: none; }
  .menu__anchor {
    font-size: 1.25rem;
    text-transform: uppercase; }

.header {
  text-align: right; }
  .header__heading {
    font-size: 2.5rem;
    line-height: 0.9; }
    @media screen and (min-width: 992px) {
      .header__heading {
        font-size: 4.375rem; } }
    .header__heading--emphasis {
      font-size: 5.6rem;
      letter-spacing: -0.4rem; }
      @media screen and (min-width: 992px) {
        .header__heading--emphasis {
          font-size: 9rem; } }
  .header__text {
    line-height: 1.8;
    letter-spacing: 0.06rem; }

.section-skills__heading {
  font-size: 2.6875rem; }
  .section-skills__heading--emphasis {
    font-size: 4.0635rem;
    line-height: 0.85; }
    .section-skills__heading--emphasis:first-of-type {
      margin-top: 0.8rem; }

.section-skills__icon {
  font-size: 2.5rem; }

.section-skills__box-heading {
  font-size: 1.5625rem; }

.section-skills__text {
  font-size: 0.9375rem;
  line-height: 1.6; }

.section-testimonials__text, .section-testimonials__profession {
  font-size: 1.5625rem; }

.section-testimonials__text {
  position: relative;
  font-style: italic;
  quotes: "“" "”" "‘" "’"; }
  .section-testimonials__text::before {
    content: open-quote;
    font-size: 8rem;
    position: absolute;
    left: -3.25rem;
    top: -3rem; }
    @media screen and (min-width: 768px) {
      .section-testimonials__text::before {
        font-size: 12rem;
        left: -7rem; } }
  .section-testimonials__text::after {
    content: close-quote;
    font-size: 8rem;
    position: absolute;
    right: -2.25rem;
    bottom: -6rem; }
    @media screen and (min-width: 768px) {
      .section-testimonials__text::after {
        font-size: 12rem;
        right: -5rem;
        bottom: -9rem; } }

.form-heading {
  font-size: 1.8125rem; }

.form__field {
  line-height: normal;
  font-size: 1.0625rem; }

.footer__icon-container {
  font-size: 1.875rem; }

.footer__icon {
  line-height: 3.625rem; }

.tilde {
  font-size: 4.6875rem; }

.address {
  font-style: normal; }

.button {
  display: inline-block;
  border-width: 3px;
  border-style: solid;
  padding: 0.7rem 1.4rem;
  transition: 0.1s;
  position: relative;
  z-index: 1;
  cursor: pointer; }
  .button:hover::before, .button:focus::before {
    transform: scaleX(1); }
  .button:active {
    transform: scale(0.9); }
  .button::before {
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0;
    transition: 0.5s; }

.navbar {
  position: fixed;
  width: 100%;
  padding: 0 5% 0;
  z-index: 999; }
  @media screen and (min-width: 1200px) {
    .navbar {
      padding: 0 17.5%;
      transition: all 0.5s; } }
  .navbar__button--toggle, .navbar__search-form, .navbar__logo {
    display: inline-block;
    z-index: 999;
    position: relative; }
  .navbar__logo-container {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
    float: left; }
  .navbar__logo {
    vertical-align: middle;
    width: 8rem; }
    @media screen and (min-width: 992px) {
      .navbar__logo {
        width: 11.125rem; } }
  .navbar__logo-anchor {
    display: inline-block; }
  .navbar__button {
    cursor: pointer;
    padding: 0 0.4rem; }
    @media screen and (min-width: 768px) {
      .navbar__button {
        padding: 0 0.4rem; } }
  .navbar__search-bar {
    width: 0;
    opacity: 0;
    transition: width 0.3s, opacity 0.5s, padding 0.3s; }
    .navbar__search-bar--open {
      opacity: 1;
      padding: 0 0.5rem;
      width: 7rem; }
      @media screen and (min-width: 480px) {
        .navbar__search-bar--open {
          width: 15rem; } }
  @media screen and (min-width: 992px) {
    .navbar__button--toggle {
      display: none; } }
  .navbar__icon--toggle {
    display: none !important; }
  .navbar__icon--visible {
    display: inline-block !important; }

.menu {
  position: fixed;
  visibility: hidden;
  left: 0;
  width: 100%;
  height: 120%;
  overflow-y: scroll;
  padding: 7rem 0 10%;
  margin-top: 0; }
  @media screen and (min-width: 992px) {
    .menu {
      display: inline-block;
      position: relative;
      visibility: visible;
      width: auto;
      height: auto;
      overflow-y: visible;
      padding-top: 0;
      padding-bottom: 0;
      opacity: 1; } }
  .menu__item {
    display: block; }
    @media screen and (min-width: 992px) {
      .menu__item {
        display: inline-block; } }
  .menu__anchor {
    display: inline-block;
    margin: 1rem 0.5rem; }
  .menu--visible {
    visibility: visible;
    overflow: hidden;
    z-index: -1; }

.header {
  background-image: url("../images/background-header.jpg");
  padding: 9rem 1.5rem 3rem; }
  @media screen and (min-width: 1200px) {
    .header {
      padding: 9rem 10% 0; } }
  @media screen and (min-width: 1920px) {
    .header {
      padding: 9rem 15rem 0; } }
  .header__image {
    display: none;
    width: 44rem;
    max-width: 50%;
    position: relative;
    left: 6rem;
    top: 2rem;
    transition: all 1s;
    margin-bottom: -4rem;
    border-bottom-right-radius: 75%;
    float: left; }
    .header__image:hover {
      transform: scale(1.2) rotate(10deg) translateX(-50%);
      left: 50%; }
    @media screen and (min-width: 992px) {
      .header__image {
        display: block; } }

.section-skills {
  padding: 4rem 1.5rem;
  background-image: url("../images/background-1.jpg"); }
  @media screen and (min-width: 992px) {
    .section-skills {
      padding: 4rem 17.5% 0; } }
  .section-skills__heading {
    margin-top: 0; }
    @media screen and (min-width: 992px) {
      .section-skills__heading {
        float: left;
        margin-top: 7rem; } }
    .section-skills__heading--emphasis {
      display: inline-block;
      margin-bottom: 0.4375rem;
      padding: 0 1rem 0.2rem 0.5rem; }
  .section-skills__box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .section-skills__box {
    text-align: center;
    flex-basis: 45%;
    margin-bottom: 1rem; }
    @media screen and (min-width: 992px) {
      .section-skills__box {
        margin-left: auto;
        margin-bottom: 6.25rem; } }
    @media screen and (min-width: 1200px) {
      .section-skills__box {
        flex-basis: 35%; } }
  .section-skills__icon {
    padding: 1.625rem;
    border-radius: 50%; }

.section-portfolio {
  background-image: url("../images/background-2.jpg"); }
  .section-portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 0 1.5rem; }
    @media screen and (min-width: 768px) {
      .section-portfolio__gallery {
        margin: 0 -1rem 1.5rem; } }
  .section-portfolio__container-left {
    flex-basis: 50%; }
  .section-portfolio__container-right {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-basis: 49.25%; }
  .section-portfolio__item {
    flex-basis: 50%;
    flex-grow: 1; }
  .section-portfolio__image {
    display: block;
    padding: 0.5rem;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .section-portfolio__image {
        padding: 1rem; } }
    .section-portfolio__image--big {
      padding-left: 0.25rem; }
      @media screen and (min-width: 768px) {
        .section-portfolio__image--big {
          padding-left: 0.5rem; } }

.section-team {
  background-image: url("../images/background-3.jpg"); }
  .section-team__card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    @media screen and (min-width: 768px) {
      .section-team__card-container {
        margin-top: 2rem; } }
  .section-team__card {
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 0.5rem;
    margin-top: 2rem; }
    @media screen and (min-width: 768px) {
      .section-team__card {
        flex-basis: 25%;
        max-width: 25%;
        margin-top: 0;
        margin-bottom: 4rem; }
        .section-team__card:nth-of-type(2n+1) {
          margin: 5.5rem 0 0; } }
  .section-team__image {
    max-width: 100%;
    margin-bottom: 2.125rem; }

.section-testimonials {
  background-image: url("../images/background-4.jpg"); }
  .section-testimonials__image {
    display: block;
    margin: 0 auto;
    border-radius: 50%; }
  .section-testimonials__text {
    display: block;
    margin: 2rem auto 1.75rem; }

.section-clients {
  background-image: url("../images/background-5.jpg"); }
  .section-clients__container {
    overflow: hidden; }
  .section-clients__logos-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 -1px -1px 0;
    overflow: hidden; }
  .section-clients__item {
    border-style: solid;
    border-width: 0 1px 1px 0;
    display: flex;
    flex-basis: 50%;
    max-width: 50%;
    flex-grow: 1;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 768px) {
      .section-clients__item {
        flex-basis: 25%;
        max-width: 25%; } }
  .section-clients__image {
    max-width: 50%;
    flex-shrink: 0;
    padding: 1.5rem 0; }
    @media screen and (min-width: 768px) {
      .section-clients__image {
        max-width: 100%;
        padding: 3.5rem 0; } }

.footer {
  background-image: url("../images/background-6.jpg");
  padding: 4rem 1.5rem 4rem; }
  @media screen and (min-width: 992px) {
    .footer {
      padding: 6.25rem 17.5% 4rem; } }
  .footer__map {
    width: auto;
    height: 18rem; }
  .footer__icon-link {
    display: inline-block;
    margin: 2.25rem 0.5rem; }
  .footer__icon {
    border-radius: 50%;
    width: 3.625rem;
    height: 3.625rem; }
  .footer__copyright {
    display: block;
    border-top: 6px solid #eeb501;
    padding-top: 3.75rem;
    margin-top: calc(3.75rem + 6px); }

.form-heading {
  margin-top: 4.375rem; }

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-right: -1rem;
  justify-content: center; }
  .form__item {
    margin: 0 1rem 1rem 0;
    flex-basis: 30%;
    min-width: 0;
    flex-grow: 1;
    height: 4rem; }
  .form__field {
    padding: 1.25rem 0 1.25rem 1rem; }
  .form__message {
    flex-basis: 80%; }
  .form__button {
    flex-basis: auto;
    flex-grow: 0; }
