{
  "extends": "airbnb/legacy",
  "env": {
    "browser": true,
    "commonjs": true,
    "jquery": true
  },
  "globals": {
    "moment": true,
    "Handlebars": true
  },
  "rules": {
    "linebreak-style": ["error", "unix"],
    "space-before-function-paren": ["error", "never"],
    "func-names": ["error", "never"]
  }
}
