.navbar {
  @extend %clearfix;
  position: fixed;
  width: 100%;
  padding: 0 10% 0;
  z-index: 999;
  @media screen and (min-width:$desktop) {
    padding:1.875rem 17.5%;
    transition: all 0.5s;
  }
  &--scrolling {
    padding-top:0;
    padding-bottom:0;
  }
  &__toggle, &__search-form, &__logo {
    display:inline-block;
    z-index:999;
    position: relative;
  }
  &__logo-container {
    height:100%;
    vertical-align: middle;
    display: inline-block;
    float: left;
  }
  &__logo {
    vertical-align: middle;
    width:11.125rem;
    height:3.75rem;
  }
  &__search {
    line-height: initial;
  }
  &__search-icon {
    margin-left:0.5rem;
    cursor:pointer;
  }
  &__search-bar {
    width:0;
    transition: width 0.3s, padding 0.3s;
    &--open {
      padding:0 0.5rem;
      width:7rem;
      @media screen and (min-width:$mobile_l) {
        width:15rem;
      }
    }
  }
  &__toggle {
    @media screen and (min-width:$notebook) {
      display:none;
    }
  }
  &__toggle-icon {
    display: none!important; //overriding Font Awesome default display property
    &--visible {
      cursor:pointer;
      display: inline-block!important;
    }
  }
}

.menu {
  position:fixed;
  visibility:hidden;
  left:0;
  width:100%;
  height:120%;
  overflow-y:scroll;
  padding:7rem 0 10%;
  margin-top:0;
  @media screen and (min-width:$notebook) {
    display: inline-block;
    position: relative;
    visibility: visible;
    width:auto;
    height: auto;
    overflow-y:visible;
    padding-top:0;
    padding-bottom:0;
    opacity: 1;
  }
  &__item {
    display: block;
    @media screen and (min-width:$notebook) {
      display:inline-block;
    }
  }
  &__link {
    display:inline-block;
    margin: 1rem;
  }
  &--visible {
    visibility:visible;
		overflow: hidden;
  }
}
