//--------------------Variables--------------------
$padSideSmall: 1.5rem;
$padSideBig: 17.5%;

$padVerticalSmall: 4rem;
$padVerticalBig: 6.25rem;

$headerPadTop: 9rem;
$skillsPadVertical: 4rem;

$gallerySpacing: 1rem;

$textSmallWidth: 50%;
$textBigWidth: 80%;

$formSpacing: 1rem;
$iconSize: 3.625rem;

$copyrightBorderSize: 6px;

//--------------------Mixins & placeholders--------------------

%clearfix {
	&::after {
		content:"";
		display:table;
		clear:both;
	}
}

%sectionBackground {
	background-size:cover;
	background-repeat:no-repeat;
	background-position: 50% 50%;
}

@mixin media-min($size) {
	@media screen and (min-width:$size) {
		@content;
	}
}

//--------------------General styles--------------------
* {
	box-sizing: border-box;
}

.text-big {
	margin: 0 0 1rem;
}

.heading {
	margin: 0 0 1.75rem;
}

.text {
	&--narrow {
		@include media-min($tablet) {
			width:50%;
		}
		width:80%;
	}
	&--wide {
		width:80%;
	}
}

.section-portfolio, .section-team, .section-testimonials, .section-clients {
	padding: $padVerticalSmall $padSideSmall;
	@include media-min($notebook) {
		padding: $padVerticalBig $padSideBig;
	}
}

.header, .section-portfolio, .section-clients, .footer {
	&__text {
		margin: 0 auto 3.5rem;
	}
}

.person-name {
	margin: 0;
}

.person-profession {
	margin: 0.5rem 0 0;
}
