//--------------------Variables--------------------
$padSide-small: 3rem;
$padSide-big: 17.5%;

$padVertical-small: 4rem;
$padVertical-big: 6.25rem;

$headerPadTop: 9rem;

$skillsPadVertical: 4rem;

//--------------------Mixins & placeholders--------------------

%clearfix {
	&::after {
		content:"";
		display:table;
		clear:both;
	}
}

%sectionBackground {
	background-size:cover;
	background-repeat:no-repeat;
	background-position: 50% 50%;
}

@mixin media-min($size) {
	@media screen and (min-width:$size) {
		@content;
	}
}

//--------------------General styles--------------------
* {
	box-sizing: border-box;
}

.text-big {
	margin: 0 0 1rem;
}

.heading {
	margin: 0 0 1.75rem;
}

.section-portfolio, .section-team, .section-testimonials, .section-clients {
	padding: $padVertical-small $padSide-small;
	@include media-min($notebook) {
		padding: $padVertical-big $padSide-big;
	}
}

.person-name {
	margin: 0;
}

.person-profession {
	margin: 0.5rem 0 0;
}
