//-------------------- Variables --------------------

$color-primary:#fff;
$color-secondary:#000;
$color-emphasis: #eeb501;
$inputBackground: #2e2e2e;


//-------------------- General colors --------------------
.color-primary {
  color:$color-primary;
}

.color-secondary {
  color:$color-secondary;
}

.color-emphasis{
  color:$color-emphasis;
}

.header, .section-portfolio, .section-testimonials, .footer, .text-link {
  color:$color-primary;
}

.section-skills, .section-team, .section-clients {
  color:$color-secondary;
}

.button {
	background-color: transparent;
	&:hover, &:focus {
		outline: 0;
		color: $color-emphasis;
		border-color: $color-emphasis;
	}
}

.text-link {
	outline: none;
	&:hover, &:focus {
		color: $color-emphasis;
	}
}

//-------------------- Navbar --------------------
.navbar {
  background-color: transparent;
  transition: background-color 0.5s;

	&__button {
		background-color: transparent;
		border: transparent;
		color: $color-primary;
	}
  &__search-bar {
	outline: none;
	border: 0;
  }
  &--scrolling {
	background-color: rgba(0,39,255,0.7);
  }
}

.menu {
  background-color: #000;
  opacity: 0;
  @media screen and (min-width:$notebook) {
	background-color:transparent;
  }
  &--visible {
    opacity: 0.95;
		transition: all 0.25s;
  }
  &__anchor {
		color: $color-primary;
  }
}

 //--------------------Header --------------------
.header {
  &__heading {
		&--emphasis {
			color:$color-emphasis;
		}
	}
}

//-------------------- Section skills --------------------
.section-skills {
  &__heading--emphasis, &__icon {
	color:$color-primary;
	background-color: $color-emphasis;
  }
}

//-------------------- Section clients --------------------
.section-clients {
	&__item{
		border-color: #a3a3a3;
	}
}

//-------------------- Footer --------------------
.footer {
	&__icon-link {
		&:hover, &:focus {
			.footer__icon {
				color: $color-emphasis;
				background-color: $color-primary;
				transition: 0.3s;
			}
		}
	}
	&__icon {
		background-color: $color-emphasis;
	}
}

.form {
	&__field {
		color: $color-primary;
		background-color: $inputBackground;
		border: transparent;
	}
}
