//--------------------Variables--------------------
$regular: 400;
$bold: 700;
$extraBold: 800;

//--------------------General typography--------------------
html {
	font-size:75%;
	@media screen and (min-width:$tablet) {
		font-size:100%;
	}
	@media screen and (min-width:$notebook) {
		font-size:75%;
	}
	@media screen and (min-width:$fhd) {
		font-size:100%;
	}
}

html, .form__field, button, .navbar__search-bar {
	font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
}

.button, .box__heading, .form__heading {
	font-weight: $bold;
}

.menu, .header__heading, .section-skills__heading, .heading, .card__name, .quotation__author {
	font-weight: $extraBold;
}

.text-big, .quotation__text {
	font-style: italic;
}

.text {
	font-size:1.25rem;
}
.text-big {
	font-size: 1.8125rem;
}

.heading {
	font-size: 2.6875rem;
}

.tilde {
	line-height: 0.1;
}

.button {
	font-size:1.375rem;
	text-transform: uppercase;
	text-decoration: none;
}

.section-portfolio, .section-team, .section-testimonials, .section-clients, .footer {
	text-align: center;
}

//--------------------Navbar--------------------
.navbar {
	text-align: right;
	line-height: 6.125rem;
	&__search-form {
		line-height: initial;
	}
	&__search-bar {
		font-size: 1.5rem;
		line-height: 1.875rem;
	}
	&__search-icon, &__toggle-icon {
		font-size: 1.875rem;
	}
}
.menu {
	font-size:1.25rem;
	letter-spacing: 0.05rem;
	text-align: center;
	line-height: normal;
	list-style: none;
	&__link {
		font-size: 1.25rem;
		text-transform:uppercase;
		text-decoration: none;
	}
}
//--------------------Header--------------------
.header {
	text-align: right;
	&__heading {
		font-size: 2.5rem;
		line-height: 0.9;
		@media screen and (min-width:$notebook) {
			font-size: 4.375rem;
		}
		&--emphasis {
			font-size: 5.6rem;
			letter-spacing: -0.4rem;
			@media screen and (min-width:$notebook) {
				font-size: 9rem;
			}
		}
	}
	&__text {
		line-height: 1.8;
		letter-spacing: 0.06rem;
	}
}
//--------------------Section skills--------------------
.section-skills {
	&__heading {
		font-size: 2.6875rem;
		&--emphasis {
			font-size: 4.0635rem;
			line-height: 0.85;
			&:first-of-type{
				margin-top:0.8rem;
			}
		}
	}
	&__icon {
		font-size: 2.5rem;
	}
	&__box-heading {
		font-size: 1.5625rem;
	}
	&__text {
		font-size: 0.9375rem;
		line-height:1.6;
	}
}
//--------------------Section team--------------------
.section-team {
	&__name {
		font-size:1.8125rem;
		font-weight: $extraBold ;
	}
	&__profession {
		font-size:1.375rem;
	}
}

//--------------------Section testimonials--------------------
.quotation {
	&__text, &__profession {
		font-size: 1.5625rem;
	}
	&__author {
		font-size: 1.8125rem;
	}
}
//--------------------Footer--------------------
.form {
	&__heading {
		font-size: 1.8125rem;
	}
	&__field {
		font-size: 1.0625rem;
	}
}

.footer {
	&__icon-container {
		font-size: 1.875rem;
	}
}

.tilde {
	font-size: 4.6875rem;
}

.address {
	font-style: normal;
}