* {
  box-sizing: border-box;
}

// variables
$padSide-small: 3rem;
$padSide-big: 31.1rem;


// mixins, placeholders

%clearfix {
  &::after {
    content:"";
    display:table;
    clear:both;
  }
}

%sectionBackground {
  background-size:cover;
  background-repeat:no-repeat;
  background-position: 50% 50%;
}
