html {
  font-size:12px;
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  @media screen and (min-width:$tablet) {
    font-size:16px;
  }
  @media screen and (min-width:$notebook) {
    font-size:12px;
  }
  @media screen and (min-width:$fhd) {
    font-size:16px;
  }
}

.navbar {
  text-align: right;
  line-height: 6.125rem;
  &__search-bar {
    line-height: 1.5rem;
  }
}
.menu {
  text-align: center;
  line-height: normal;
  &__link {
    font-size: 1.25rem;
    text-decoration: none;
  }
}
