$regular: 400;
$bold: 700;
$extraBold: 800;

html {
  font-size:12px;
  font-family: "Open Sans", "Segoe UI", Tahoma, sans-serif;
  @media screen and (min-width:$tablet) {
    font-size:16px;
  }
  @media screen and (min-width:$notebook) {
    font-size:12px;
  }
  @media screen and (min-width:$fhd) {
    font-size:16px;
  }
}

.button, .box__heading, .form__heading {
  font-weight: $bold;
}

.menu, .header__heading, .section-skills__heading, .heading, .card__name, .quotation__author {
  font-weight: $extraBold;
}

.text--big, .quotation__text {
  font-style: italic;
}

.navbar {
  text-align: right;
  line-height: 6.125rem;
  &__search-bar {
    line-height: 1.5rem;
  }
}
.menu {
  text-align: center;
  line-height: normal;
  &__link {
    font-size: 1.25rem;
    text-transform:uppercase;
    text-decoration: none;
  }
}
