.header {
  @extend %sectionBackground;
  @extend %clearfix;
  background-image: url("../images/background-header.jpg");
  padding: $headerPadTop $padSide-small 3rem;
  @media screen and (min-width:$desktop) {
    padding: $headerPadTop 10% 0;
  }
  @media screen and (min-width:$fhd) {
    padding: $headerPadTop 15rem 0;
  }
  &__image {
    display:none;
    width:44rem;
    max-width:50%;
    position: relative;
    left: 6rem;
    top:2rem;
    transition: all 1s;
    margin-bottom: -4rem;
    border-bottom-right-radius: 75%;
    float:left;
    &:hover {
      transform: scale(1.2) rotate(10deg) translateX(-50%);
      left:50%;
    }
    @media screen and (min-width:$notebook) {
      display:block;
    }
  }
}
