.section-testimonials {
	@extend %sectionBackground;
	background-image: url("../images/background-4.jpg");
	&__image {
		display: block;
		margin: 0 auto;
		border-radius: 50%;
	}
	&__text {
		display: block;
		margin: 2rem auto 1.75rem;
	}
}