.section-portfolio {
	@extend %sectionBackground;
	background-image: url("../images/background-2.jpg");
	&__gallery {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin:0 0 1.5rem;
		@include media-min($tablet) {
			margin:0 (-$gallerySpacing) 1.5rem;
		}
	}
	&__container-left {
		flex-basis: 50%;
	}
	&__container-right {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		flex-basis: 49.25%;
	}
	&__item {
		flex-basis: 50%;
		flex-grow:1;
	}
	&__image {
		display: block;
		padding: 0.5rem;
		@include media-min($tablet) {
			padding: $gallerySpacing;
		}
		width:100%;
		&--big {
			padding-left: 0.25rem;
			@include media-min($tablet) {
				padding-left: 0.5rem;
			}
		}
	}
}