.section-clients {
	@extend %sectionBackground;
	background-image: url("../images/background-5.jpg");
	&__container {
		overflow: hidden; //applying overflow:hidden to hide right and bottom border
	}
	&__logos-grid {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 -1px -1px 0; //applying negative margins to compensate for right and bottom border
		overflow: hidden;
	}
	&__item {
		border-style: solid;
		border-width: 0 1px 1px 0;
		display: flex;
		flex-basis: 50%;
		max-width: 50%; //fix for IE 10/11
		flex-grow: 1;
		justify-content: center;
		align-items: center;
		@include media-min($tablet){
			flex-basis: 25%;
			max-width: 25%; //fix for IE 10/11
		}
	}
	&__image {
		max-width: 50%;
		flex-shrink: 0;
		padding: 1.5rem 0;
		@include media-min($tablet){
			max-width: 100%;
			padding: 3.5rem 0;
		}
	}
}