.section-team {
	@extend %sectionBackground;
	background-image: url("../images/background-3.jpg");
	&__card-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include media-min($tablet) {
			margin-top: 2rem;
		}
	}
	&__card {
		flex-basis:50%;
		max-width: 50%; //fix for IE 10/11
		padding:0 0.5rem;
		margin-top:2rem;
		@include media-min($tablet) {
			flex-basis:25%;
			max-width: 25%; //fix for IE 10/11
			margin-top:0;
			margin-bottom:4rem;
			&:nth-of-type(2n+1){
				margin:5.5rem 0 0;
			}
		}
	}
	&__image {
		max-width:100%;
		margin-bottom: 2.125rem;
	}
}

