@import 'partials/colors';
@import 'partials/mediaqueries';
@import 'partials/fonts';

* {
  box-sizing: border-box;
}

body {
  background-color: #bdbec5;
  margin: 0;
  padding: 8px;
  overflow-x: hidden;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin:2.25rem 0 0;
}

.text-emphasis {
  font-weight:600;
}

.container {
  position: relative;
  width: 100%;
  padding: 0 2rem;
  @media screen and (min-width: $tablet) {
    padding: 0 5.25rem;
  }
  @media screen and (min-width: $notebook) {
    width: 71.6875rem;
    margin: 0 auto;
  }
}

.header {
  padding-top: 2.75rem;
  text-align: center;
  overflow: auto;
  @media screen and (min-width: $mobile_l) {
    margin:0 -2rem 0 -1rem;
  }
  @media screen and (min-width: $tablet) {
    margin:0 -4rem 0 -0.875rem;
  }
  @media screen and (min-width: $notebook) {
    padding-top: 7.75rem;
  }
  &__logo {
    width:15rem;
    @media screen and (min-width:$notebook) {
      width:21.5rem;
    }
  }
  &__container {
    display: block;
    overflow: auto;
    flex-direction: column;
    margin-top:1rem;
    @media screen and (min-width: $mobile_l) {
        display: flex;
        flex-direction: row;
    }
    @media screen and (min-width: $notebook) {
      margin-top:4.75rem;
    }
  }
  &__text {
    flex-basis: 65%;
    flex-shrink: 0;
    text-align: left;
    @media screen and (min-width: $mobile_l) {
      padding-right: 2rem;
      text-align: right;
    }
    @media screen and (min-width: $tablet) {
      padding-right: 3.75rem;
    }
  }
  &__list {
    display: inline-block;
    margin-top:0.75rem;
  }
  &__list-item {
    position: relative;
    text-align: left;
    list-style: none;
    &::before {
      height:0.7rem;
      width:0.7rem;
      border-radius: 50%;
      background-color:$main;
      content:"";
      position: absolute;
      left:-1rem;
      top:50%;
      transform:translateY(-35%);
    }
  }
  &__image-container {
    justify-content: center;
    display: flex;
    margin:1rem 0 0;
      @media screen and (min-width: $mobile_l) {
        margin: 0;
      }
  }
  &__image {
    max-width: 70%;
    align-self: flex-end;
    padding-left:2.5rem;
    width:100%;
    @media screen and (min-width: $mobile_l) {
      max-width:100%;
      padding-left: 0;
    }
  }
  &__slogan {
    margin-top: 2.75rem;
    width:11.5rem;
  }
}

.carousel {
  &-container {
    position: relative;
    margin-top: 5rem;
    &--steps {
      @media screen and (min-width: $tablet) and (max-width: $notebook){
        margin-left: -6.25rem;
        margin-right: -6.25rem;
      }
    }
  }
  &-steps {
    padding: 0;
    margin: 0;
    list-style: none;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.44);
    @media screen and (max-width: $notebook) {
      width: calc(100% + 4rem)!important;
      margin-left: -2rem;
      overflow: hidden;
    }

    &:after {
      content: "";
      height: 1px;
      width: 120%;
      background: linear-gradient(90deg, #bdbec5 ,#a39c96 10%, #a39c96 90%, #bdbec5 100%);
      position: absolute;
      top: 0;
      left: -10%;
      z-index: 99;
    }
    &:before {
        content: "";
        height: 1px;
        width: 120%;
        background: linear-gradient(90deg, #bdbec5 ,#8f857a 10%, #8f857a 90%, #bdbec5 100%);
        position: absolute;
        bottom: 0;
        left: -10%;
        z-index: 99;
    }
    @media screen and (min-width: $notebook) {
      width: 150% !important;
      left: calc(-20% - 3.12rem);
    }
  }
  &-container__step {
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 50% 50%;
    height: 15rem;
    min-width: 15rem;
    transition: 300ms;
  }
}
.carousel-container__step:hover .step__container,
.owl-item .center .step__container{
  font-size: 1rem;
}

.step {
  &__container {
    position: absolute;
    height:2rem;
    bottom: 1.7rem;
    color: white;
    font-weight:100;
    transition: 300ms;
  }
  &__index {
    display: inline-flex;
    float: left;
    margin: 0px 5px 0px 10px;
    font-weight: normal;
    width: 20px;
    height: 20px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  &--1 {
    background-color: #abc871;
    background-image: url("../images/step1.png");
    background-repeat: no-repeat;
    background-position: 50% 25%;
    .step__index {
      background-color: #87965b;
      color:#abc871;
    }
    &:hover, .owl-item.center &{
      background-size: 60%;
      background-position: 50% 100%;
      .step__container {
        bottom: 80%;
      }
    }
  }
  &--2 {
    background-color: #738d76;
    background-image: url("../images/step2.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50% 40%;
    .step__index {
      background-color: #bece7d;
      color:#738d76;
    }
    &:hover, .owl-item.center &{
      background-size: 90%;
      background-position: 50% 70%;
      .step__container {
        bottom: 80%;
      }
    }
  }
  &--3 {
    background-color: #f58345;
    background-image: url("../images/step3.png");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: 50% 25%;
    .step__index {
      background-color: #817569;
      color:#f58345;
    }
    &:hover, .owl-item.center &{
      background-size: 85%;
      background-position: 50% 76%;
      .step__container {
        bottom: 80%;
      }
    }
  }
  &--4 {
    background-color: #8ebbd1;
    background-image: url("../images/step4.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 50% 40%;
    .step__index {
      background-color: #c7eafc;
      color:#8ebbd1;
    }
    &:hover, .owl-item.center &{
      background-size: 70%;
      background-position: 50% 80%;
      .step__container {
        bottom: 80%;
      }
    }
  }
  &--5 {
    background-color: #aedfe5;
    background-image: url("../images/step5.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 50% 65%;
    .step__index {
      background-color: #d3eded;
      color:#aedfe5;
    }
    &:hover, .owl-item.center &{
      background-position: 50% 4rem;
      .step__container {
        bottom: 80%;
      }
    }
  }
  &--6 {
    background-color: #fef7ea;
    background-image: url("../images/step6.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 0% -60%;
    .step__index {
      background-color: #948779;
      color: #fef7ea;
    }
    .step__container {
      color:#948779;
      left:35%;
    }
    &:hover, .owl-item.center &{
      background-size: 65%;
      background-position: 60% -60%;
      .step__container {
        bottom: 80%;
        color:#948779;
        left:0%;
      }
    }
  }
}

.products {
  &__features {
    margin-top:2.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: center;
    }
  }
  &__feature {
    text-align: center;
    padding: 2.5rem 0;
    margin:0;
    border-style:dashed;
    border-width:1px 0 0 0;
    &:last-child {
      border-bottom-width:1px;
    }
    @media screen and (min-width: $tablet) {
      padding: 0 2.5rem;
      border-width:0 0 0 1px;
      &:last-child {
        border-bottom-width:0;
        border-right-width:1px;
      }
    }
  }
  &__header {
    text-align: center;
    margin:4rem 0 2rem;
      @media screen and (min-width: $notebook) {
        margin:9rem 0 4rem;
      }
  }
  &__container {
    display: none;
    @media screen and (min-width: $notebook) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__box {
    display: table;
    flex: 0 0 48.5%;
    border:1px solid #b4ada6;
    height:43.5rem;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 58%;
    padding: 33% 0 0 25%;
    margin-bottom: 2rem;
    width:48.5%;
    &:last-child {
      padding-top:45%;
    }
    &--1 {
      background-image: url("../images/flavour1.png");
    }
    &--2 {
      background-image: url("../images/flavour2.png");
    }
    &--3 {
      background-image: url("../images/flavour3.png");
    }
    &--4 {
      background-image: url("../images/flavour-shadow.png");
    }
    &--mobile {
      height:28rem;
      border:1px solid #b4ada6;
      background-position: 0 100%;
      background-size: 11rem;
      background-repeat: no-repeat;
      padding:15% 1% 0 11rem;
      @media screen and (max-width:$mobile) {
        padding-left: 42%;
        height:32rem;
        background-size:40%;
      }
    }
  }

  .flavour-icon {
    display: initial!important;
    margin-top: 0;
    width:auto!important;
    height:3.5rem;
  }
  .feature__icon {
    display: inline!important;
    margin-top: 0;
    width:2rem!important;
    margin: 0.8rem 0.5rem 0 0;
    @media screen and (min-width:$notebook) {
      margin-top:2.25rem;
    }
  }

  &__name {
    text-transform:uppercase;
    margin:1.25rem 0 0;
  }

  &__paragraph {
    margin: 0 0 1.25rem;
  }

  &__icon {
    margin-top:1.25rem;
  }

  &__carousel {
    margin: 0 -2rem;
    padding-bottom: 7.5rem;
    @media screen and (min-width: $tablet) {
      margin: 0 -5.25rem;
    }
    @media screen and (min-width: $notebook) {
      display: none;
    }
  }
}

.container--beige {
  padding-top: 2.5rem;
}

.company-info {
  &__header {
    font-weight: bold;
  }
  &__text {
    margin: 2rem 0 4.5rem;
  }
  &__boxes-container {
    margin: 0 -1rem;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $notebook) {
      flex-direction: row;
    }
  }
  &__box {
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
    margin: 0 1rem 3rem 1rem;
    justify-content: space-between;
    @media screen and (min-width: $notebook) {
      flex-basis: 0;
    }
  }
  .border-dashed--white {
    border-width: 1px 1px 1px 1px;
    border-style: dashed;
    border-color: #fff;
    border-image-source: url("../images/border-dash-white.png");
    border-image-slice: 2;
    border-image-repeat: round;
  }
  &__bordered-box {
    flex: 1.75rem 0 0;
    &--left {
      border-right: 0 !important;
    }
    &--right {
      border-left: 0 !important;
    }
  }
  &__wrapper {
    padding: 2rem 0;
  }
  &__logo {
    height:6.25rem;
    margin-bottom: 2rem;
  }
  &__paragraph {
    margin: 0 -1rem;
    line-height: 1.875rem;
  }
  &__link {
    text-decoration: none;
    border-bottom: 1px solid #e0ddd9;
    &:hover {
      font-weight: 600;
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  background: black;
  height: 10rem;
  margin-top: -1rem;
  font-weight: 100;
  color: white;
  @media screen and (min-width: $tablet) {
    padding-top: 2rem;
    flex-direction: row;
    align-items: stretch;
    justify-content:space-between
  }
  &__container {
    width:100%;
    text-align: center;
    @media screen and (min-width: $tablet) {
      width:auto;
    }
  }
  &__mail {
    margin-left:3.5rem;
    position: relative;
  }
}

.icon {
  &--envelope:before {
    content: url('../../app/images/koperta.png');
    position: absolute;
    left: -3.5rem;
    top: -0.1rem;
  }
}
